h1:hover{
    color:orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkgray;
    
}
body{

}
#heading-1{
    color: rgb(222, 11, 109);
}
.para{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a[href^="https://"]
{
color: green;
}
a[href$=".jpg"]
{
color: yellow;
}
a[href^="/"]
{
color:red;
}
img[src^="./"]
{
border:10px solid purple;
padding: 10px;
}
img[src^="https://"]
{
border:10px solid chocolate;
padding: 10px;
}
li:first-child{
    color: blueviolet;
}
ul:nth-child(4){
    color:  deeppink;
}
#ordered-list:first-child {
    
    color: yellow;
}
#ordered-list:nth-child(2) {
    
        color: red;

}
#ordered-list:last-child{
color: chartreuse;
}
#unordered-list:last-child {
    
    color: green;

}
/* #container-one {
    height: 500px;
    width: 500px;
   background: linear-gradient(270deg,yellow,rgb(0, 183, 255),white,purple,pink);
} */
/* #container-one {
    height: 500px;
    width: 500px;
   background: linear-gradient(to right,red,green,white,purple,pink);
/* } 
/* 0deg=bottom */
/* 180deg=top */
#container-two{
    height: 500px;
    width: 500px;
    background: linear-gradient(90deg,#a20bde,#0b75de,#0bde47,#d0de0b,#de9b0b,#de0b0b);
}
#forms1{
    height: 300px;
    width: 300px;
    background: linear-gradient(to top left,#a20bde,#21c6cf);
}
.label2{
    height: 3s00px;
    width: 300px;
    background: linear-gradient(to top left,#a20bde,#21c6cf);
}


/* units of measurement */
/* 1.Absolute unit(px,cm,mm,inc,....),2.Relative unit(em) */

.mypara{
    font-size: 0.5em;
}
img{
        height:50%;
        width:75%;    
}
#blue{
    border: 5px double yellow;
    padding: 4px 6px 8px 10px;
    margin:4px 6px 8px 10px;
}
#green{
    border: 5px double yellow;
    padding: 4px 6px 8px 10px;
    margin:4px 6px 8px 10px;
}
/* parent property: any property that can be  */

#container-three{
    height:500px;
    width:500px;
    background-image: url('./pictures/download.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: darkmagenta;
    border: 10px double yellow;
    padding: 7px;
    margin: 18px;


}