h1:hover{
    color:orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkgray;
    
}
#heading-1{
    color: rgb(222, 11, 109);
}
.para{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a[href^="https://"]
{
color: green;
}
a[href$=".jpg"]
{
color: yellow;
}
a[href^="/"]
{
color:red;
}
img[src^="./"]
{
border:10px solid purple;
}
img[src^="https://"]
{
border:10px solid chocolate;
}
li:first-child{
    color: blueviolet;
}
ul:nth-child(4){
    color:  deeppink;
}
#ordered-list:first-child {
    
    color: yellow;
}
#ordered-list:nth-child(2) {
    
        color: red;

}
#ordered-list:last-child{
color: chartreuse;
}
#unordered-list:last-child {
    
    color: green;

}
/* #container-one {
    height: 500px;
    width: 500px;
   background: linear-gradient(270deg,yellow,rgb(0, 183, 255),white,purple,pink);
} */
/* #container-one {
    height: 500px;
    width: 500px;
   background: linear-gradient(to right,red,green,white,purple,pink);
/* } 
/* 0deg=bottom */
/* 180deg=top */
#container-two{
    height: 500px;
    width: 500px;
    background: linear-gradient(90deg,#a20bde,#0b75de,#0bde47,#d0de0b,#de9b0b,#de0b0b);
}
#forms1{
    height: 300px;
    width: 300px;
    background: linear-gradient(to top left,#a20bde,#21c6cf);
}
.label2{
    height: 3s00px;
    width: 300px;
    background: linear-gradient(to top left,#a20bde,#21c6cf);
}


/* units of measurement */
/* 1.Absolute unit(px,cm,mm,inc,....),2.Relative unit(em) */

.mypara{
    font-size: 2em;
}
img{
        height:50%;
        width:75%;    
}