h1{
    color:pink;
}
#heading-1{
    color: rgb(11, 134, 48);
}
.para{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a[href^="https://"]
{
color: green;
}
a[href$=".jpg"]
{
color: yellow;
}
a[href^="/"]
{
color:red;
}
img[src^="./"]
{
border:10px solid purple;
}
img[src^="https://"]
{
border:10px solid chocolate;
}
.ordered-list-item:last-child {
    
    color: green;

}
.unordered-list-item:last-child {
    
    color: green;

}